target/
.git/
.idea/
.vscode/
*.iml
README.md
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log
.git
.gitignore
.env
.env.*
.DS_Store
.vscode
.idea
coverage
.nyc_output
dist
build
logs
*.log
*.tmp
*.swp
*.swo
