<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Estudiante</title>
    <link rel="stylesheet" th:href="@{/css/stylesestudiante.css}">
</head>
<body>
<h1>Perfil de Estudiante</h1>
<img th:src="@{/images/{image}(image=${estudiante.imgaeUrl})}" alt="Foto de ${estudiante.nombre}" style="width:200px;height:200px;">
<p><strong>Nombre:</strong> <span th:text="${estudiante.nombre}"></span> <span th:text="${estudiante.apellido}"></span></p>
<p><strong>Email:</strong> <span th:text="${estudiante.email}"></span></p>
<p><strong>Edad:</strong> <span th:text="${estudiante.edad}"></span></p>
<p><strong>Semestre:</strong> <span th:text="${estudiante.semestre}"></span></p>
<p><strong>Descripción:</strong> <span th:text="${estudiante.descripcion}"></span></p>
<a href="/" class="btn">Volver</a>

</body>
</html>
